<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arribion</title>
    <link rel="stylesheet" href="../../public/styles/dasboard.css">
</head>
<body>

    <div class="dashboard-wrappeer">
        <aside>
            <p><span class="logo">Arribion</span> <br><span style="font-size: 1.5em; font-weight: 500;">Ignite</span></p>
            <nav>
                
                <ul>
                    <a href=""><li>Home</li></a>
                    <a href=""><li>Docs</li></a>
                    <a href=""><li>Web development</li></a>
                    <a href=""><li>Mobile Development</li></a>
                    <a href=""><li>Python Programming</li></a>
                    <a href=""><li>Java Programming</li></a>
                </ul>

                <ul class="stng-logout">
                <a href=""><li>Setting</li></a></li>
                    <a href=""><li>Logout</li></a></li>
                </ul>
            </nav>
        </aside>
        <main>

        </main>
    </div>
    
</body>
</